<div class="form-details">
    <form novalidate id="payment-form" [hidden]="paymentData" (submit)="onSubmit($event)">
        <div class="form-row">
            <label for="card-element">
                Credit or debit card
            </label>
            <div id="card-element" #cardElement>
                <!-- A Stripe Element will be inserted here. -->
            </div>
    
            <!-- Used to display form errors. -->
            <div id="card-errors" role="alert">
                {{errorMessage}}
            </div>
        </div>
    
        <button [disabled]="errorMessage" class="btn btn-default">Submit Payment</button>
    </form>
    <div *ngIf="paymentData">
        Payment Data:<br>
        <span style="color:green">Payment Successfull</span><br>
        {{paymentData|json}}
    </div>
</div>